<div class="col-md-4">
<div class="card mb-4 box-shadow">
    <img class="card-img-top" src="{{imgLink}}" alt="" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
    <div class="card-body">
        <div><strong>{{title}}</strong></div>
        <p class="card-text">{{content}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="/article/view/{{id}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz</button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>